.popup {
    background-color: #6d6d6d;
    position: absolute;
    margin: 0 0 0 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 30%;
    height: auto;
    padding: 0;
    z-index: 3;
    border-radius: 20px;
    border-style: solid;
    border-color: #6f0080;
    overflow-y: auto;
}

.popup>h1 {
    color: white;
    text-align: center;
    text-decoration: underline;
    padding: 0;
    margin: 0;
}

.popup>h2 {
    color: white;
    text-align: center;
    text-decoration: underline;
}

.popup>p {
    color: white;
    text-align: center;
}

.popup button {
    margin: 10px 10px 10px 50%;
    padding: 0;
    transform: translate(-50%, 0);
    width: 100px;
    height: 30px; 
}