
.events-div {
	background-color: #474747;
	position: fixed;
	width: clamp(50%, 1200px, 80%);
	height: 100% - 60px;
	left: 50%;
	bottom: 0px;
	top: 60px;
	transform: translate(-50%, 0);
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	justify-content: center;
	overflow-y: scroll;
	overflow-x: hidden;
}

.event {
	background-color: #b1b1b1;
	position: relative;
	transform: translate(-50%, 0);
	left: 50%;
	width: 80%;
	height: auto;
	margin: 10px 0 10px 0;
	padding: 5px;
	border-color: black;
	border-style: solid;
	border-width: 5px;
	border-radius: 25px/25px;
	overflow: auto;
}

.event h1 {
	text-align: center;
	padding: 0;
	margin: 0;
}

.event h2 {
	padding: 0;
	margin: 0;
}

.event-description {
	height: 100px;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px/5px;
	padding: 5px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.event-buttons {
	display: flex;
	justify-content: center;
	height: 50px;
	gap: 10px;
}

.event button {
	width: 20%;
	border-style: solid;
}

.disabled {
	background-color: rgb(161, 161, 161);
}

.enabled {
	background-color: white;
}

.enabled:hover {
	background-color: rgb(201, 201, 201);
}

.enabled:active {
	background-color: rgb(148, 148, 148);
}