body, html {
    margin: 0;
    padding: 0;
}

.top-menu {
    background-color: #333;
    overflow: hidden;
    width: 100%;
}

.top-menu .hover-menu {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 1vw 3vw;
    text-decoration: none;
}

.top-menu .hover-menu:hover {
    background-color: #5c5c5c;
}

.top-menu .menu-name {
	float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 1vw 5vw 1vw 2vw;
    text-decoration: none;
	Transform: scale(1.5);
}

.top-menu .menu-name:hover {
}