body, html {
    margin: 0;
    padding: 0;
	margin-left: 100px;
}

.top-menu {
    background-color: #111;
    overflow: hidden;
    height: 100%;
	width: 100px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	
}

.top-menu .hover-menu {
    float: left;
    display: block;
    color: #bfbfbf;
    text-align: center;
	padding: 25px 0px 40px 25px;
    text-decoration: none;
}

.top-menu .hover-menu:hover {
    color: #fff;
}

.top-menu .menu-name {
	float: left;
    display: block;
    color: white;
    text-align: center;
	padding: 25px 0px 50px 10px;
    text-decoration: none;
}

.top-menu .menu-name:hover {
}