body {
    margin: 0;
    padding: 0;
    display: flex;
}

.side-menu {
    width: 200px; /* Adjust the width as needed */
    background-color: #333; /* Example background color */
    color: white;
    padding: 20px;
    /* Added styles for side menu positioning */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; /* Cover the full height of the viewport */
    overflow-y: auto; /* Allow scrolling if the menu is taller than the viewport */
}

.center-registration {
    margin: 100px 0 0 220px; /* Adjust the margin to create space between menu and content */
    padding: 20px;
    /* Rest of your styles for center-registration */
    background-color: #2f2f2f;
    position: relative;
    width: 400px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.center-registration > * {
    /* Rest of your styles for center-registration children */
    position: relative;
    color: white;
    transform: translate(0, 0);
    float: right;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    flex-basis: 100%;
    margin: 3px;
}

.center-registration input {
    /* Rest of your styles for input fields */
    border-radius: 3% / 50%;
    width: 400px;
    height: 20px;
    padding: 0 10px 0 10px;
    color: black;
    border-color: green;
    border-width: 3px;
    border-style: solid;
}

.center-registration input:focus {
    outline-width: 0;
}

.center-registration button {
    /* Rest of your styles for buttons */
    border-radius: 7% / 30%;
    flex-basis: 40%;
    width: 400px;
    height: 40px;
    padding: 0 10px 0 10px;
    color: black;
    border-color: green;
    border-width: 3px;
    border-style: solid;
}

.break {
    flex-basis: 100%;
    height: 0;
}



